body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-weight: 300;
    text-align: center;
    background-color: orange;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#display {
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
}

#drum-machine {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    width: 330px;
    border: 3px solid grey;
}

button {
    font-size: 50px;
    width: 100px;
    height: 100px;
}

.drum-pad {
    justify-items: center;
    height: 100px;
    width: 100px;
    margin: 5px;
}

.active {
    background-color: orange;
}